#title{
    text-align: center;
    background-color: blue;
    width: 100%
}

#main{
    display: flex;
    flex-wrap: wrap;
}

#left{
    background-color: gainsboro;
    flex: 1;
    height: 720px;
}

#right{
    flex: 2;
    background-color: white;
}

#right p{
    width: 60%;;

}
#copyright{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}

#right img{
    position:relative;
    width: 1050px;
}